@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  height: 100%;
  background-color: #fafafa;
}
@media screen and (max-width: 480px) {
  body {
    font-size: 10px;
  }
}
h1,
h2,
h3 {
  text-align: center;
  font-weight: 100;
  color: #161617;
}
@media screen and (max-width: 480px) {
  h1,
  h2,
  h3 {
    font-size: 18px;
  }
}
ul {
  list-style-type: circle;
}
nav {
  position: fixed;
  z-index:9999;
  top: 0;
}
.shadowed {
  -moz-box-shadow: 0px 1px 4px #555;
  -webkit-box-shadow: 0px 1px 4px #555;
  box-shadow: 0px 1px 4px #555;
}
.bordered {
  border: 1px solid #52616d;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.img-circle {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}


.img-profile {
  display: block;
  border: 2px solid #161617;
  margin: 8em auto 1em auto;
  -webkit-transition: border 0.5s;
  -moz-box-shadow: 0px 1px 4px #555;
  -webkit-box-shadow: 0px 1px 4px #555;
  box-shadow: 0px 1px 4px #555;
}

.spacer{
  height: 5em;
}
